<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to nginx test project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="card">
      <div class="card-body">
        <a href="/register" class="btn btn-success">Register</a>
        <a href="/login" class="btn btn-success">Login</a>
      </div>
    </div>
  </body>
</html>
