<!DOCTYPE html>
<html>
<head>
    <title>Welcome to nginx test project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="card">
    <div class="card-header">
        <p>Welcome to nginx test project, <%= person.username %></p><br/>
        <a href="/logout">Logout</a>
    </div>
</div>
</body>
</html>