<!DOCTYPE html>
<html>
<head>
    <title>Welcome to nginx test project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="card">
    <div class="card-body">
        <form action="/register" method="POST">
            <div>
                <label>Username</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password"/>
            </div>
            <button class="btn btn-success" type="submit">REGISTER</button>
        </form>
    </div>
</div>
</body>
</html>